cache: pip

dist: xenial

language: python

python:
  - "3.6"

jobs:
  include:

    - name: Unit Tests
      env:
        CACHE_NAME: unit-tests
      addons:
        apt:
          packages:
            - postgresql-11
            - postgresql-server-dev-11
        postgresql: "11"
      install:
        - pip install 'kombu <= 4.5.0'  # FIXME: https://github.com/celery/celery/issues/5261
        - pip install pytest-cov coveralls -r requirements.txt -r test-requirements.txt
        - pip install -e .
        - growth-too iers
      script:
        - python setup.py test --addopts='-vv --durations=0 --cov'
      after_success:
        - coveralls

    - name: Lint
      env:
        CACHE_NAME: lint
      install:
        - pip install flake8
      script:
        - flake8 --show-source growth
