astropy >= 3.1
astropy-healpix>=0.3
celery[redis] >= 4.3.0  # https://github.com/celery/celery/pull/4852
flask
flask_caching
flask_celeryext
flask_humanize
flask_login
flask_mail
flask_sqlalchemy
flask_twilio >= 0.0.6
flask_wtf
kombu == 4.5.0  # FIXME: https://github.com/celery/celery/issues/5261
gwemopt == 0.0.58  # must be '==', since gwemopt does not have a stable API
healpy
h5py
ligo-gracedb
ligo-segments
ligo.skymap >= 0.1.11
lxml
networkx
pandas
passlib
psycopg2
pygcn >= 0.1.20
pytz
pyvo
redis >= 3.3.0
retry
slackclient
sqlalchemy >= 1.2.0
sqlalchemy_utils[phone]
tqdm
wtforms_alchemy
wtforms_components
