import os

# FIXME: how do we automatically discover the hostname?
if os.environ.get('HOST_HOSTNAME') == 'skipper':
    SERVER_NAME = 'skipper.caltech.edu:8081'

CELERY_BROKER_URL = 'redis://redis'
SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:mysecretpassword@postgres/postgres'
