.retracted {
    color: red;
    text-decoration: line-through;
}
.MDC { 
    color: gray;
}
.badge, .badge-primary, .badge-pill {
    color: white !important;
}
.BNS {
    background-color: #468847;
}
.NSBH {
    background-color: #b94a48;
}
.BBH {
    background-color: #333333;
}
.GRB {
    background-color: #f89406;
}
.AMON {
    background-color: #3a87ad;
}
.Terrestrial {
    background-color: #999999;
}.field-tooltip td, .field-tooltip th {
    vertical-align: top;
}
