.svg-aspect-1 {
    position: relative;
    padding-bottom: 100%;
    width: 100%;
}

.svg-aspect-1 svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.contour {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

.field {
    fill: none;
    pointer-events: visible;
    stroke: black;
    stroke-width: 0.5px;
}

.graticule {
    fill: none;
    stroke: lightgray;
    stroke-width: 0.5px;
}