{% extends 'base.html' %}
{% from 'forms.html' import render_field %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.1.0/css/rowGroup.dataTables.min.css" integrity="sha256-mfb+mieZDwLASMlQTUNXrZQr8OXvQyEDfV3Xz3E7DSU=" crossorigin="anonymous">
    <title>ToO Marshal</title>
    <style>
        .table {
            width: 100% !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {% include 'event_header.html' %}
            {% include 'nav_bar.html' %}
        </div>
        <form class=card-body method=post>
        <ul class="list-group list-group-flush">
            <h2>Comment for {{candidate.name}}</h2>
            <h4>Present comment: </h4>
            {{candidate.comment}}
            <h4>New comment - Please keep it short! Three words at most. </h3>
            <input type="text" name="newcomment"><br>
            <input type="submit" value="Submit" name='submitcomment'>
        </ul>
        </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.1.0/js/dataTables.rowGroup.min.js" integrity="M2p7tlgI2XLaZRLg5AN5mqtij0kAWJ1B1s9h0SCRTNU=" crossorigin="anonymous"></script>
{% endblock %}
