<div class="d-flex justify-content-between">
    <h5 class="{% for tag in event.tags %}tag-{{tag}} {% endfor %}">
        {% if event.graceid %} {{event.graceid}} 
        {% else %} {{event.dateobs.strftime('%y%m%d')}}
        {% endif %}
        <small>
            {{event.dateobs.strftime('%H:%M:%S')}}
            ({{ (now() - event.dateobs)|humanize() }})
        </small>
    </h5>
    <div>
        {% for tag in event.tags %}
            <span class="badge badge-primary badge-pill tag-{{tag}}">{{tag}}</span>
        {% endfor %}
    </div>
</div>
