<div class="d-flex justify-content-between">
    <h5 {% if event.retracted %}class="retracted"{% endif %}
        {% if 'MDC' in event.tags %}class="MDC"{% endif %}>
        {{event.dateobs.strftime('%y%m%d')}}
        <small>
            {{event.dateobs.strftime('%H:%M:%S')}}
            ({{ (now() - event.dateobs)|humanize() }})
        </small>
    </h5>
    <div>
        {% for tag in event.tags %}
            <span class="badge badge-primary badge-pill {% for tag in event.tags %}cls-{{tag}} {% endfor %}">{{tag}}</span>
        {% endfor %}
    </div>
</div>
