{% extends 'base.html' %}

{% block head %}
    <title>
        GROWTH ToO Marshal: {{event.dateobs}}
    </title>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {% include 'event_header.html' %}
            {% include 'nav_bar.html' %}
        </div>
        <ul class="list-group list-group-flush">
            {% if event.lightcurve %}
                <li class=list-group-item>
                    <h6>Light curve</h6>
                    <img src="{{ event.lightcurve }}" class=lightcurve>
                </li>
            {% endif %}
            <li class=list-group-item>
                <h6>GCN Notices</h6>
                <ul>
                    {% for gcn_notice in event.gcn_notices %}
                        <li>
                            <a href="{{url_for('gcn_notice', ivorn=gcn_notice.ivorn|quote_plus)}}">
                                {{gcn_notice.notice_type.name}} at {{gcn_notice.date}}
                            </a>
                            {% if 'GW' in event.tags and not event.retracted %}
                            <ul>
                                <li> Classification: BNS = {{ '%.1f' |format(gcn_notice.bns) }} {{'%'}}, BBH = {{ '%.1f' |format(gcn_notice.bbh) }} {{'%'}}, NSBH = {{ '%.1f' |format(gcn_notice.nsbh) }} {{'%'}}
                                </li>
                                <li> Classification: MassGap = {{ '%.1f' |format(gcn_notice.mass_gap) }} {{'%'}}, Noise = {{ '%.1f' |format(gcn_notice.noise) }} {{'%'}}
                                </li>
                                <li> Properties: HasNS = {{ '%.1f' |format(gcn_notice.has_ns) }} {{'%'}}, HasRemnant = {{ '%.1f' |format(gcn_notice.has_remnant) }} {{'%'}}, FAR = {{ '%.3f' |format(gcn_notice.far) }} {{'%'}}
                                </li>
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% if event.gracedb %}
                <li class=list-group-item>
                    <h6>Grace DB</h6>
                    <a href="{{event.gracedb}}">
                        Grace DB page for {{event.graceid}}
                    </a>
                </li>
            {% endif %}
            {% if event.ned_gwf %}
                <li class=list-group-item>
                    <h6>NED-GWF catalogue</h6>
                    <a href="{{event.ned_gwf}}">
                        Galaxy list for latest GCN
                    </a>
                </li>
            {% endif %}
            {% if event.localizations|length > 0 %}
            <li class=list-group-item>
                <h6>Observability</h6>
                <div class="card-img">
                    <img class=img-fluid alt="Observability" src="{{url_for('localization_observability', dateobs=event.dateobs, localization_name=event.localizations[-1].localization_name)}}">
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('img.lightcurve').on('error', function() {
        $(this).replaceWith('<small>(Not yet available)</small>');
    });
    $('img.airmass').on('error', function() {
        $(this).replaceWith('<small>(Airmass chart not yet available)</small>');
    });
</script>
{% endblock %}
