{% from 'macros.jinja2' import oxford_commas %}

SUBJECT: GROWTH follow-up of {{plan.event.gcn_notices[-1].stream}} trigger {{plan.dateobs}} with {{plan.telescope}}

{% filter rewrap %}
{{oxford_commas(authors)}} report on behalf of the ZTF project and the GROWTH collaboration:
We observed the localization region of {{plan.event.gcn_notices[-1].stream}} trigger {{plan.dateobs}} UTC with {{plan.telescope}}. We obtained a series of {{oxford_commas(plan.plan_args.filt)}} band images covering {{ "%.1f"|format(plan.area) }} square degrees beginning at {{plan.validity_window_start}} ({{tdiff}} after the burst trigger time), corresponding to ~{{ "%.1f"|format(plan.probability(localization_name=plan.event.localizations[-1].localization_name)) }}% of the probability enclosed in the localization region. 
ZTF (http://ztf.caltech.edu) acknowledges the generous support of the NSF under AST MSIP Grant No 1440341. All alerts were filtered, vetted and follow-up co-ordinated by the GROWTH (http://growth.caltech.edu) project marshal system with generous support of the NSF under PIRE Grant No 1545949.
{% endfilter %}
