{% extends 'base.html' %}
{% from 'forms.html' import render_field %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/scroller/2.0.0/css/scroller.bootstrap4.min.css" integrity="sha256-zpzFevgoGF8+AgRqqEClayPeL+KT/Vbs5sd2FsInVLw=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap4.min.css" integrity="sha256-njo807dUiyYW575DjLvTj8dyXb4MOOVe7rR+png6FBw=" crossorigin="anonymous">
    <title>GROWTH ToO Marshal: {{event.dateobs}}: Objects</title>
    <style>
        .table {
            width: 100% !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {% include 'event_header.html' %}
            {% include 'nav_bar.html' %}
        </div>
        <table id="objects" class="table">
            <thead>
                <tr>
                    {% for column in columns %}
                        <th title="{{column}}">
                            {{column}}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js" integrity="sha256-aAAJ5Q79w0Kb+8A8tNAR/c+YJUEkqfN2xpKUgbTs/fk=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js" integrity="sha256-o9yNSWG+cFpa57JuPXjKOL7CPQQpEUrqjkFQ6fOiouQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js" integrity="sha256-f8vzaivfrU6QB/g8PztdVJaS1vB58RVqZf6pmlfvmvA=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap4.min.js" integrity="sha256-+aMa2B5YIXIHaMVzFOhJ3+uwhmpdf0AEBV7ASS/nMWo=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/scroller/2.0.0/js/dataTables.scroller.min.js" integrity="sha256-/fBo2uoL1zuza/5G6UrbxbjkSJbJyWIzgx17Zz/aPJE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js" integrity="sha256-FPJJt8nA+xL4RU6/gsriA8p8xAeLGatoyTjldvQKGdE=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='markdown-table.min.js') }}"></script>
    <script>
    (function() {
        var table = $('#objects').DataTable({
            ajax: '{{url_for('objects_data', dateobs=event.dateobs)}}',
            dom: 'Brtip',
            columnDefs: [
                {
                    targets: '_all',
                    className: 'text-right'
                }
            ],
            buttons: [
                {
                    name: 'filter',
                    text: 'Filter',
                },
                'colvis',
                {
                    extend: 'collection',
                    name: 'localization',
                    text: 'Localization',
                    autoClose: true,
                    buttons: [
                        {% for localization in event.localizations %}
                        {
                            name: '{{localization.localization_name}}',
                            text: '{{localization.localization_name}}',
                            action: function() {
                                table.search('{{localization.localization_name}}').draw();
                            }
                        },
                        {% endfor %}
                    ]
                },
                'csv',
                {
                    name: 'markdown',
                    text: 'Markdown',
                    action: function ( e, dt, button, config ) {
                        this.processing(true);
                        let exported = dt.buttons.exportData(dt, config);
                        let output = markdownTable([
                            ...[exported.header],
                            ...exported.body.map(row => row.map(item => (item == null || item == NaN || item == 'nan') ? null : item))
                        ]);
                        let info = dt.buttons.exportInfo(config);
                        saveAs(
                            new Blob([output], {type: 'text/markdown'}),
                            info.filename,
                            true
                        );
                        this.processing(false);
                    },
                    filename: '*',
                    extension: '.md'
                }
            ],
            deferRender: true,
            lengthChange: false,
            processing: true,
            scroller: {
                loadingIndicator: true
            },
            scrollX: true,
            scrollY: 400,
            searching: true,
            serverSide: true
        });

        var button = $(table.button(undefined, 'filter:name').nodes());
        var dropdown = $('<div class="dropdown-menu p-3" style="min-width: 30rem; overflow-y: auto; max-height: 20rem"></div>');
        button
            .addClass('btn btn-secondary dropdown-toggle')
            .attr({
                'aria-haspopup': 'true',
                'aria-expanded': 'false',
                'data-toggle': 'dropdown'
            })
            .wrap($('<div class=dropdown></div>'))
            .after(dropdown);

        table.columns().every(function() {
            var text = $(this.header()).text();
            dropdown.append(
                $('<div class="form-row form-group">\
                    <input class="min col-4 form-control" placeholder=min>\
                    <input class="max col-4 form-control" placeholder=max>\
                </div>').data(this).prepend($('<label class=col-4></label>').append(text))
            );
        });
        dropdown.find('input').on('keyup change clear', function() {
            var parent = $(this).parent();
            var search = {};
            var value;
            value = parent.find('.min').val();
            if (value != '')
                search.min = value;
            value = parent.find('.max').val();
            if (value != '')
                search.max = value;
            parent.data().search(JSON.stringify(search)).draw();
        });
    })();
    </script>
{% endblock %}
