{% extends 'base.html' %}
{% from 'forms.html' import render_field %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.1.0/css/rowGroup.dataTables.min.css" integrity="sha256-mfb+mieZDwLASMlQTUNXrZQr8OXvQyEDfV3Xz3E7DSU=" crossorigin="anonymous">
    <title>ToO Marshal</title>
    <style>
        .table {
            width: 100% !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {% include 'event_header.html' %}
            {% include 'nav_bar.html' %}
        </div>
        <form class=card-body method=post>
        <ul class="list-group list-group-flush">
            <li class=list-group-item>
                <h3>Candidates</h3>
                <div class="card mb-3"> 
                    <button type=submit id=gcn class="btn btn-primary" name="btngcn">Create GCN</button> 
                </div> 
                <table id="candidates" class="table">
                    <thead>
                        <tr>
                            <th>GCN</th>
                            <th>ID</th> 
                            <th>TNS</th>
                            <th></th> 
                            <th>Comment</th>
                            <th>z</th>
                            <th>Class</th>
                            <th>SS mag</th>
                            <th>SS dist</th>
                            <th>CLU name</th>
                            <th>CLU separ</th>
                            <th>CLU z</th>
                            <th>PS1 DR2</th>
                            <th>Gaia match</th>
                            <th>Gaia parallax</th>
                            <th>w1mw2</th>
                            <th>w2mw3</th>
                            <th>w4</th>
                            <th>First detection</th>
                            <th>Last detection</th>
                            <th>mag</th>
                            <th>magerr</th>
                            <th>RA</th> 
                            <th>Dec</th>
                            <th>Telescope</th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% if sources_growth_marshal | length > 0 %}
                            {% for source in sources_growth_marshal %}
                                {% set telescope_name='?' %}
                                {% if source.name[0:3] == 'ZTF' %} {% set telescope_name = 'ZTF' %} {% endif %}
                                {% if source.name[0:2] == 'DG' %} {% set telescope_name = 'DECam' %} {% endif %}
                                {% if source.name[0:2] == 'KP' %} {% set telescope_name = 'KPED' %} {% endif %}
                                {% if source.name[0:4] == 'PGIR' %} {% set telescope_name = 'Gattini' %} {% endif %}
                                {% if source.name[0:3] == 'GIT' %} {% set telescope_name = 'GROWTH-India ' %} {% endif %}
                                <tr>
                                    <td><div class="checkbox"><input type="checkbox" value="{{source.name}}" name='check'></td>
                                    <td>
                                        <a href="http://skipper.caltech.edu:8080/cgi-bin/growth/view_source.cgi?name={{source.name}}">
                                        {{source.name}}
                                    </a>
                                    </td>
                                    <td>{{source.iauname}}</td>
                                    <td><button type=submit id=comment class="btn btn-primary" name="btncomment" value="{{source.name}}"> </button></td>
                                    <td>{{source.comment}}</td>
                                    <td>{{source.redshift}}</td>
                                    <td>{{source.classification}}</td>
                                    <th>{{source.ssmagnr}}</th>
                                    <th>{{source.ssdistnr}}</th>
                                    <th>{{source.CLU_name}}</th>
                                    <th>{{'{:.2f}'.format(source.CLU_d_to_galaxy_arcsec) if source.CLU_d_to_galaxy_arcsec}}</th>
                                    <th>{{source.CLU_z}}</th>
                                    <td>{{source.ps1_dr2_detections}}</td>
                                    <th>{{source.gaia_match}}</th>
                                    <th>{{source.gaia_parallax}}</th>
                                    <th>{{'{:.2f}'.format(source.w1mw2) if source.w1mw2}}</th>
                                    <th>{{'{:.2f}'.format(source.w2mw3) if source.w2mw3}}</th>
                                    <th>{{'{:.2f}'.format(source.w4) if source.w4}}</th>
                                    <th>{{source.first_detection_time}}</th>
                                    <th>{{source.latest_detection_time}}</th>
                                    <th>{{'{:.2f}'.format(source.latest_detection_mag) if source.latest_detection_mag}}</th>
                                    <th>{{'{:.2f}'.format(source.latest_detection_magerr) if source.latest_detection_magerr}}</th>
                                    <td>{{source.ra.to_string(u.hour,precision=2, sep=':', pad=True)}}</td>
                                    <td>{{source.dec.to_string(precision=2, sep=':', pad=True)}}</td>
                                    <td>{{telescope_name}}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="card mb-3">
                    <button type=submit id=new class="btn btn-primary" name="btnnew">Get new objects</button>
                </div>
                <div class="card mb-3">
                    <button type=submit id=update class="btn btn-primary" name="btnupdate">Update existing objects</button>
                </div> 
            </li>
        </ul>
        </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.1.0/js/dataTables.rowGroup.min.js" integrity="M2p7tlgI2XLaZRLg5AN5mqtij0kAWJ1B1s9h0SCRTNU=" crossorigin="anonymous"></script>
    <script>
    (function() {
        $('#candidates').DataTable({
	    scrollX: true,
            searching: true,
            order: [[ 8, "desc" ]],
            lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
        rowGroup: {
                dataSrc: 24
            }
        });
        $('#candidates tbody').on('click', 'tr', function () {
            $(this).toggleClass('table-primary');
        });
    })();
    </script>
{% endblock %}
