{% extends 'base.html' %}
{% from 'forms.html' import render_field %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.1.0/css/rowGroup.dataTables.min.css" integrity="sha256-mfb+mieZDwLASMlQTUNXrZQr8OXvQyEDfV3Xz3E7DSU=" crossorigin="anonymous">
    <title>ToO Marshal</title>
    <style>
        .table {
            width: 100% !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {% include 'event_header.html' %}
            {% include 'nav_bar.html' %}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="alert alert-warning">
                    <h4 class=alert-heading>Mock up</h4>
                    <p>This tab is a mock-up using fake data.</p>
                </div>
            </li>
            <li class=list-group-item>
                <h3>Candidates</h3>
                <table id="candidates" class="table">
                    <thead>
                        <tr>
                            <th>ID</th> 
                            <th>Telescope</th> 
                            <th>RA</th> 
                            <th>DEC</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if sources_growth_marshal | length > 0 %}
                            {% for source in sources_growth_marshal %}
                                {% set telescope_name='?' %}
                                {% if source.name[0:3] == 'ZTF' %} {% set telescope_name = 'ZTF' %} {% endif %}
                                {% if source.name[0:2] == 'DG' %} {% set telescope_name = 'DECam' %} {% endif %}
                                {% if source.name[0:2] == 'KP' %} {% set telescope_name = 'KPED' %} {% endif %}
                                {% if source.name[0:4] == 'PGIR' %} {% set telescope_name = 'Gattini' %} {% endif %}
                                {% if source.name[0:3] == 'GIT' %} {% set telescope_name = 'GROWTH-India ' %} {% endif %}
                                <tr>
                                    <td>
                                    <a href="http://skipper.caltech.edu:8080/cgi-bin/growth/view_source.cgi?name={{source.name}}">
                                    {{source.name}}
                                    </a>
                                </td>
                                    <td>{{telescope_name}}</td>
                                    <td>{{'%02.0f' % source.ra.hms.h}}:{{'%02.0f' % source.ra.hms.m}}:{{'%02.2f' % source.ra.hms.s}}</td>
                                    <td>{{'%02.0f' % source.dec.dms.d}}:{{'%02.0f' % source.dec.dms.m|abs}}:{{'%02.2f' % source.dec.dms.s|abs}}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        <tr>
                            <td>DG19ab</td>
                            <td>DECam</td>
                            <td>23:18:03.2592</td>
                            <td>-36:00:00.8</td>
                        </tr>
                        <tr>
                            <td>PGIR19ae</td>
                            <td>Gattini</td>
                            <td>18:10:33.231</td>
                            <td>-40:43:23.12</td>
                        </tr>
                        <tr>
                            <td>KP19r</td>
                            <td>KPED</td>
                            <td>18:10:33.23</td>
                            <td>-40:43:23.12</td>
                        </tr>
                        <tr>
                            <td>GIT19x</td>
                            <td>GROWTH-India</td>
                            <td>18:10:33.23</td>
                            <td>-40:43:23.12</td>
                        </tr>
                        <tr>
                            <td>GIT19ab</td>
                            <td>GROWTH-India</td>
                            <td>19:14:21.34</td>
                            <td>-40:43:23.12</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <h3>Processed Tiles</h3>
                <table id=tiles class="table">
                     <thead>
                            <tr>
                                <th>Time (UT)</th>
                                <th>Filter</th>
                                <th>RA</th>
                                <th>Dec</th>
                                <th>Exp. time</th>
                                <th>Telescope</th>
                                <th>Name image</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if tiles | length > 0 %}
                                {% for tile in tiles %}
                                    <tr>
                                        <td>{{tile["time_obs"].iso}}</td>
                                        <td>{{tile["filter"]}}</td>
                                        <td>{{'%02.0f' % tile.ra.hms.h}}:{{'%02.0f' % tile.ra.hms.m}}:{{'%02.2f' % tile.ra.hms.s}}</td>
                                        <td>{{'%02.0f' % tile.dec.dms.d}}:{{'%02.0f' % tile.dec.dms.m|abs}}:{{'%02.2f' % tile.dec.dms.s|abs}}</td>
                                        <td>{{tile["exptime"]}}</td>
                                        <td>DECam</td>
                                        <td>{{tile["name"]}}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                </table>
            </li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.1.0/js/dataTables.rowGroup.min.js" integrity="M2p7tlgI2XLaZRLg5AN5mqtij0kAWJ1B1s9h0SCRTNU=" crossorigin="anonymous"></script>
    <script>
    (function() {
        $('#candidates').DataTable({
	    scrollX: true,
            searching: true,
            lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
        rowGroup: {
                dataSrc: 1
            }
        });
        $('#candidates tbody').on('click', 'tr', function () {
            $(this).toggleClass('table-primary');
        });
        $('#tiles').DataTable({
	    scrollX: true,
            searching: true,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        rowGroup: {
                dataSrc: 5
            }
        });
        $('#tiles tbody').on('click', 'tr', function () {
            $(this).toggleClass('table-primary');
        });
    })();
    </script>
{% endblock %}
