{% extends 'base.html' %}

{% block head %}
    <title>GROWTH ToO Marshal: {{event.dateobs}}: Plans</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.1.0/css/rowGroup.dataTables.min.css" integrity="sha256-mfb+mieZDwLASMlQTUNXrZQr8OXvQyEDfV3Xz3E7DSU=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='skymap.css') }}">
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {% include 'event_header.html' %}
            {% include 'nav_bar.html' %}
        </div>
        <div class=svg-aspect-1><svg></svg></div>
        <form method=post>
            <div class=btn-toolbar role=toolbar id=toolbar>
                <select class="ml-2 w-auto custom-select" id=localization>
                    {% for localization in event.localizations %}
                        <option {% if loop.last %}selected{% endif %}>
                            {{localization.localization_name}}
                        </option>
                    {% endfor %}
                </select>
                <a class="ml-2 btn btn-secondary" href="{{url_for('plan_new', dateobs=event.dateobs)}}" title="Create new plan..."><i class="fa fa-plus-square"></i> New...</a>
                <button disabled type=submit name=delete class="ml-2 btn btn-secondary" title="Delete selected plans"><i class="fa fa-trash"></i> Delete</button>
                <button disabled type=submit name=go class='ml-2 btn btn-danger' title="Submit selected plans to queue"><i class="fa fa-rocket"></i> Go!</button>
            </div>
            <table id=plans class="table">
                <thead>
                    <tr>
                        <th rowspan=2 colspan=2></th>
                        <th rowspan=2>Name</th>
                        <th rowspan=2>Status</th>
                        <th rowspan=2>Start</th>
                        <th rowspan=2>End</th>
                        <th rowspan=2>Number of exposures</th>
                        <th rowspan=2>Number of exposures (per filter)</th>
                        <th colspan=2>Time (min)</th>
                        <th rowspan=2>Area (deg<sup>2</sup>)</th>
                        <th rowspan=2>Prob (%)</th>
                        <th rowspan=2>GCN</th>
                    </tr>
                    <tr>
                        <th>Exposure</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plan in event.plans %}
                    <tr class=tr-plan>
                        <td>{{plan.telescope}}</td>
                        <td>
                            <a download href="{{url_for('download_json', dateobs=plan.dateobs, telescope=plan.telescope, plan_name=plan.plan_name)}}"><i class="fa fa-download mr-1"></i></a>
                            <input type=checkbox name="{{plan.telescope|btoa}}_{{plan.plan_name|btoa}}" class=invisible>
                        </td>
                        <td>{{plan.plan_name}}</td>
                        <td>{{plan.status.name}}</td>
                        <td>{% if plan.start_observation is not none %}{{plan.start_observation.isoformat(sep=' ', timespec='minutes').replace('-', '‑')}}{% endif %}</td>
                        <td>{% if plan.end_observation is not none %}{{plan.end_observation.isoformat(sep=' ', timespec='minutes').replace('-', '‑')}}{% endif %}</td>
                        <td>{{plan.num_observations}}</td>
                        <td>{{plan.num_observations_per_filter}}</td>
                        <td>{{ "%.1f"|format(plan.total_time / 60)}}</td>
                        <td>{{ "%.1f"|format(plan.tot_time_with_overheads / 60) }}</td>
                        <td>{{ "%.1f"|format(plan.area) }}</td>
                        <td class=td-prob></td>
                        <td><a href="{{url_for('create_gcn_template', dateobs=plan.dateobs, telescope=plan.telescope, localization_name=event.localizations[-1].localization_name, plan_name=plan.plan_name)}}">link</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/rowgroup/1.1.0/js/dataTables.rowGroup.min.js" integrity="M2p7tlgI2XLaZRLg5AN5mqtij0kAWJ1B1s9h0SCRTNU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js" integrity="sha256-hYXbQJK4qdJiAeDVjjQ9G0D6A0xLnDQ4eJI9dkm7Fpk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-geo/1.9.1/d3-geo.min.js" integrity="sha256-ujoopDSgXv5+tOiVuGRi+I6JoUNBTqAmNAeyhOtbgYw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-drag/1.2.1/d3-drag.min.js" integrity="sha256-z4hJglIzarwrV3VkxfLntjyQ8CXStVQr/ICkosUWHrs=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/d3-geo-zoom" integrity="sha256-aB3PfIrVSVDY1ZQb/ELYPUOxejsP8rY5FSwv2KTgsbY=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='skymap.js')}}"></script>
<script>
(function() {

    let skymap = $('svg').skymap();

    $('#toolbar .btn').tooltip();

    $('#plans').DataTable({
        info: false,
        paging: false,
        searching: false,
        scrollX: true,
        orderFixed: [0, 'asc'],
        columnDefs: [
            {
                'targets': [0],
                'visible': false
            },
            {
                'targets': [1],
                'orderable': false
            }
        ],
        rowGroup: {
            dataSrc: 0
        }
    });

    $('#localization').on('input', function() {
        let localization_name = $(this).val();
        let url = '{{url_for('localization_json', dateobs=event.dateobs, localization_name='localization_name')}}'.replace('localization_name', localization_name);
        d3.json(url, (error, contours) => {
            if (error)
                throw error;

            skymap.localization(contours);
        });

        let url_pattern = '{{url_for('prob_json', dateobs=event.dateobs, telescope='TELESCOPE', plan_name='PLAN_NAME', localization_name='LOCALIZATION_NAME')}}';
        $('.tr-plan').each(function() {
            let id = $(this).find('input').prop('name');
            let [telescope, plan_name] = id.split('_').map(atob);
            let url = url_pattern.replace('TELESCOPE', telescope).replace('PLAN_NAME', plan_name).replace('LOCALIZATION_NAME', localization_name);
            let td = $(this).find('.td-prob');
            td.html('<div class="spinner-border spinner-border-sm text-dark" role="status"><span class="sr-only">Loading...</span></div>');
            $.getJSON(url, function(data) {
                td.text(Math.round(data * 100));
            });
        });
    }).trigger('input');

    $('#plans tbody').on('click', 'tr', function () {
        let checkbox = $(this).find('input');
        let id = checkbox.prop('name');
        let [telescope, plan_name] = id.split('_').map(atob);
        let value = !checkbox.prop('checked');

        // Check/uncheck the hidden form control.
        checkbox.prop('checked', value);

        // Toggle the color of the table row.
        $(this).toggleClass('table-primary', value);

        // Enable the 'Go!' button if the number of selected plans is nonzero.
        $("#toolbar [name='delete'], #toolbar [name='go']").prop('disabled',
            $('#plans tbody input:checked').length == 0);

        d3.json('plan/telescope/' + telescope + '/' + plan_name + '/json', (error, field_ids) => {
            if (error)
                throw error;

            field_ids.forEach(field_id => {
                d3.json('/telescope/' + telescope + '/field/' + field_id + '/json', (error, geometry) => {
                    if (error)
                        throw error;

                    d3.select('svg').append('path').datum(geometry).classed('field', true);
                    skymap.redraw();
                });
            });
        });
    });
})();
</script>
{% endblock %}
