{% extends 'base.html' %}
{% from 'forms.html' import render_field %}

{% block head %}
    <title>GROWTH ToO Marshal: {{form.dateobs.data}}: Create observing plan</title>
{% endblock %}

{% block body %}
<div class=container>
    <div class="card mb-3">
        <div class=card-header>
            Create Observation Plan
        </div>
        <div class="card-img">
            <div class="position-absolute d-flex justify-content-center w-100 mx-auto" style="top: 300px">
                <div class="spinner-border" role="status" id=airmass-loading>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <img class=img-fluid alt="Airmas chart" id=airmass>
        </div>
        <form class=card-body method=post>
            {{form.hidden_tag()}}
            <div class=form-row>
                <div class="form-group col-sm-6">
                    <label for=telescope class=form-label>Telescope</label>
                    {{ render_field(form.telescope, class='custom-select') }}
                </div>
                <div class="form-group col-sm-6">
                    <label for="localization" class=form-label>Localization</label>
                    {{ render_field(form.localization, class='custom-select') }}
                </div>
            </div>
            <div class=form-row>
                <div class="form-group col-sm-6">
                    <label for=validity_window_start>Start time</label>
                    {{ render_field(form.validity_window_start) }}
                </div>
                <div class="form-group col-sm-6">
                    <label for=validity_window_end>End time</label>
                    {{ render_field(form.validity_window_end) }}
                </div>
            </div>
            <div class=form-row>
                <div class="form-group col-sm-4">
                    <label for=exposure_time>Exposure time (s)</label>
                    {{ render_field(form.exposure_time) }}
                </div>
                <div class="form-group col-sm-4">
                    <label for=filters>Filters</label>
                    {{ render_field(form.filters, placeholder='comma or space separated list') }}
                    <small class="form-text text-muted">Available filters: <span id="available-filters"></span></small>
                </div>
                <div class="form-group col-sm-4">
                    <label>Options</label>
                    <div class="custom-control custom-switch">
                        {{ render_field(form.dither, class='custom-control-input') }}
                        <label for=dither class=custom-control-label>Dither</label>
                    </div>
                    <div class="custom-control custom-switch">
                        {{ render_field(form.references, class='custom-control-input') }}
                        <label for=references class=custom-control-label>Require references</label>
                    </div>
                    <div class="custom-control custom-switch">
                        {{ render_field(form.primary, class='custom-control-input') }}
                        <label for=primary class=custom-control-label>Use primary only</label>
                    </div>
                    <div class="custom-control custom-switch" aria-describedby="balanceHelpBlock">
                        {{ render_field(form.balance, class='custom-control-input') }}
                        <label for=balance class=custom-control-label>Filter balancing</label>
                        <small id="balanceHelpBlock" class="form-text text-muted">
                        Require field observations in all requested filters
                        </small>
                    </div>
                    <div class="custom-control custom-switch" aria-describedby="balanceHelpBlock">
                        {{ render_field(form.planned, class='custom-control-input') }}
                        <label for=planned class=custom-control-label>Account for tonight's plan</label>
                        <small id="balanceHelpBlock" class="form-text text-muted">
                        Avoid observations in planned fields / filters (ZTF only)
                        </small>
                    </div>
                    <div class="custom-control custom-switch">
                        {{ render_field(form.maxtiles, class='custom-control-input') }}
                        <label for=maxtiles class=custom-control-label>Limit number of fields</label>
                    </div>
                    <div class="custom-control custom-switch">
                        {{ render_field(form.raslice, class='custom-control-input') }}
                        <label for=raslice class=custom-control-label>Limit RAs considered in map</label>
                    </div>
                </div>
            </div>
            <div class=form-row>
                <div class="form-group col-sm-6">
                    <label for="name">Integrated probability</label>
                    <div class="d-flex mt-2">
                        {{ render_field(form.probability, min=0, max=100, step=5, class='custom-range') }}
                        <output for=probability class=ml-2>{{form.probability.data}}</output>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="name">Maximum airmass</label>
                    <div class="d-flex mt-2">
                        {{ render_field(form.airmass_limit, min=1, max=5, step=0.25, class='custom-range') }}
                        <output for=airmass_limit class=ml-2>{{'%.02f'|format(form.airmass_limit.data)}}</output>
                    </div>
                </div>
            </div>
            <div class=form-row>
                <div class="form-group col-sm-6">
                    <label for="name">Min. Difference [minutes]</label>
                    <div class="d-flex mt-2">
                        {{ render_field(form.mindiff, min=0, max=180, step=5, class='custom-range') }}
                        <output for=mindiff class=ml-2>{{form.mindiff.data}}</output>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="name">Maximum Number of Tiles</label>
                    <div class="d-flex mt-2">
                        {{ render_field(form.max_nb_tiles, min=0, max=1000, step=5, class='custom-range') }}
                        <output for=max_nb_tiles class=ml-2>{{form.max_nb_tiles.data}}</output>
                    </div>
                </div>
            </div>
            <div class=form-row>
                <div class="form-group col-sm-6">
                    <label for="name">Min. RA [hours]</label>
                    <div class="d-flex mt-2">
                        {{ render_field(form.ramin, min=0, max=24, step=0.5, class='custom-range') }}
                        <output for=ramin class=ml-2>{{form.ramin.data}}</output>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="name">Max. RA [hours]</label>
                    <div class="d-flex mt-2">
                        {{ render_field(form.ramax, min=0, max=24, step=0.5, class='custom-range') }}
                        <output for=ramax class=ml-2>{{form.ramax.data}}</output>
                    </div>
                </div>
            </div>
            <div class=form-row>
                <div class="form-group col-sm-9">
                    <label class=d-block>Algorithm</label>
                    <div class="btn-group btn-group-toggle" data-toggle=buttons>
                        {% for subfield in form.schedule %}
                            <label class="btn btn-sm btn-secondary {% if subfield.checked %}active{% endif %}">
                                {{ subfield()|safe }} {{ subfield.label }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label>Scheduling</label>
                    <div class=form-group>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% for subfield in form.filterschedule %}
                                <label class="btn btn-sm btn-secondary {% if subfield.checked %}active{% endif %}">
                                    {{ subfield()|safe }} {{ subfield.label }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label>Strategy</label>
                    <div class=form-group>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% for subfield in form.schedule_strategy %}
                                <label class="btn btn-sm btn-secondary {% if subfield.checked %}active{% endif %}">
                                    {{ subfield()|safe }} {{ subfield.label }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class=form-row>
                <div class="form-group col-sm-6">
                    <label for="previous_plan" class=form-label>Previous Plan</label>
                    {{ render_field(form.previous_plan, class='custom-select') }}
                    <small class="form-text text-muted">Remove portion of map observed by this plan from consideration<span id="available-filters"></span></small>
                </div>
                <div class="form-group col-sm-4">
                    <label>Options</label>
                    <div class="custom-control custom-switch">
                        {{ render_field(form.previous, class='custom-control-input') }}
                        <label for=previous class=custom-control-label>Use Previous</label>
                    </div>
                </div>
            </div>
            <div class=form-row>
                <div class="form-group col-sm-6">
                    <label for=completed_window_start>Start time (completed observations)</label>
                    {{ render_field(form.completed_window_start) }}
                </div>
                <div class="form-group col-sm-6">
                    <label for=completed_window_end>End time (completed observations)</label>
                    {{ render_field(form.completed_window_end) }}
                </div>
                <div class="custom-control custom-switch" aria-describedby="balanceHelpBlock">
                    {{ render_field(form.completed, class='custom-control-input') }}
                    <label for=completed class=custom-control-label>Account for completed observations</label>
                    <small id="balanceHelpBlock" class="form-text text-muted">
                    Avoid observations in completed fields / filters
                    </small>
                </div>
            </div>
            <div class=form-row>
                <div class="form-group col-sm-12">
                    <label for=plan_name>Plan name</label>
                    {{ render_field(form.plan_name, placeholder='Plan name') }}
                </div>
            </div>
            <div class=form-row>
                <div class="form-group col-sm-3">
                    <button type=submit id=create class="btn btn-primary" name="btnform">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$('#probability').on('input', function() {
    $("output[for='probability']").text($(this).val());
});
$('#airmass_limit').on('input', function() {
    $("output[for='airmass_limit']").text(parseFloat($(this).val()).toFixed(2));
});
$('#mindiff').on('input', function() {
    $("output[for='mindiff']").text(parseFloat($(this).val()));
});
$('#max_nb_tiles').on('input', function() {
    $("output[for='max_nb_tiles']").text(parseFloat($(this).val()));
});
$('#ramin').on('input', function() {
    $("output[for='ramin']").text(parseFloat($(this).val()));
});
$('#ramax').on('input', function() {
    $("output[for='ramax']").text(parseFloat($(this).val()));
});
$('#telescope').on('input', function() {
    var telescope = $(this).val();
    var available_filters = {
        {% for telescope in telescopes %}
            '{{telescope.telescope}}': '{{telescope.filters|join(', ')}}',
        {% endfor %}
    };
    $('#dither').prop('disabled', telescope != 'DECam');
    $('#balance').prop('checked', telescope == 'ZTF');
    $('#references').prop('checked', telescope == 'ZTF');
    $('#references').prop('disabled', telescope == 'Gattini');
    $('#available-filters').text(available_filters[telescope]); 
});
$('#telescope, #localization').on('input', function() {
    var telescope = $('#telescope').val();
    var localization = $('#localization').val();
    var url = "{{url_for('localization_airmass', dateobs=form.dateobs.data, localization_name='_localization_', telescope='_telescope_')}}".replace('_localization_', localization).replace('_telescope_', telescope);
    $('#airmass-loading').removeClass('invisible');
    $('#airmass').prop('src', url);
});
$('#telescope').trigger('input');
$('#airmass').on('load', function() {
    $('#airmass-loading').addClass('invisible');
});
</script>
{% endblock %}
